{% extends 'user.html.twig' %}
{% block title %}Modification du mot de passe
{% endblock
%}
{% block body %}

	<section class="container my-3">
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<div class="card">
					<div class="card-header">
						<h3 class="card-title">Modification du mot de passe</h3>
					</div>
					<div class="card-body">
						{{ form_start(form) }}
						{{ form_row(form.mdp) }}
						{{ form_row(form.confirm_mdp) }}
						<button type="submit" class="btn btn-primary btn-lg my-3">Modifier</button>

						{{ form_end(form) }}
					</div>
				</div>
			</div>
		</div>
	</section>


{% endblock %}
