{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}


{% block body %}
	<section class="container my-3">
		<div class="row">
			<div class="col">
				<h1>Réinitialisation du mot de passe</h1>
                {{ form_start(resetPassForm) }}
                    {{ form_row(resetPassForm.mdp) }}
                    {{ form_row(resetPassForm.confirm_mdp) }}
                    <button type="submit" class="btn btn-primary">Envoyer</button>
                {{ form_end(resetPassForm) }}
			</div>
		</div>
	</section>

{% endblock %}
