
<p>Bonjour {{ user.firstname }} {{user.lastname}}  </p>
<p>Vous avez demander une Réinitialisation de votre mot de passe</p>

<p>Ci dessous se trouve un lien vous permettant de reinitialiser votre mot de passe </p>

<p>Votre lien de réinitialisation de mot de passe: <a href="{{ url|raw }}" >{{ url|raw }} </a></p>
<p>Merci</p>



          