{% extends 'base.html.twig' %}

{% block title %}Page non trouvé{% endblock %}


{% block body %}
	<section class="container my-3">
		<div class="row">
			<div class="col">
				<h1>Cette page n'existe pas</h1>
               <p>La page que vous recherchez n'existe pas ou plus.</p>
			</div>
		</div>
	</section>

{% endblock %}
  
